body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Delius Unicase', cursive;
}

li {
    list-style: none;
}

li a {
    color: green;
    text-decoration: none;
}

label {
    margin-right: 15px;
}